*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}


.header{
    background: radial-gradient(#fff,#ffd6d6);
    
    
}

/* Navigation Bar */
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;

}
nav ul li{
    display: inline-block;
    margin-right: 20px;

}
a{
    text-decoration: none;
    color: #555;

}
p{
    color: #555;
}


/* container  */
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}


/* container text and image */
.row{
    margin-left: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.left{
    margin-top: 70px;
    padding-left: 20px;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;

}
.col-2 img{
    max-width:100%;
  
}
.col-2 h1{
    font-size:50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background-color: #ff523b;
    color: white;
    padding: 8px 30px;
    margin:30px 0;
    border-radius: 30px;

}
.btn:hover{
    background: #563434;
    transition:  0.5s;
}

/* categories */
.brands{
    margin: 100px auto;
    width: 80%;

}
.brands h2{
    text-align: center;
}
.small-container{
    margin-top: 30px;
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
}
.col-5 img:hover{
    width: 110%;
    transition: 1s;
}

/* featured products */
.Pimage{
    height: 300px;
}

.col-4{
   
    flex-basis: 25%;
    padding: 10px;
    width: 80;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
    height: 220px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
.col-4 img:hover{
    transform: translateY(-5px);
    transition: 1s;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background:#ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}

/*----offer----*/
.offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding: 50px;
;
}
small{
    color: #555;
}

/* testimonial */
.rating .fa{
    color: #ff523b;
}


.col-3{
    margin-top: 40px;
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 50px;
}

.testimonial{
    padding-top: 100px;

}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;


}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}

.fa.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}
.col-3 p{
    font-size: 12px;
    margin:12px 0;
    color: #777;
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
/* footer */
.footer{
    background:#000;
    color:#8a8a90;
    font-size: 14px;
    font-size: 14px;
    padding: 60px 0 20px;

}

.footer p{
    color: #8a8a8a;

}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 10px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
border: none;
background: #b5b5b5;
height: 1px;
margin: 20px 0;
}
.copyright{
    text-align: center;
}


/* Responsive Design  */

.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

/* media query for menu */
@media only screen and (max-width:800px){
  
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: rgb(236, 175, 175);
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        cursor: pointer;
        display: block;
    }

}

/* all products page  */

.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover{
    background: #ff523b;
    color: white;

}



/* media query for less than 600 screen size */

@media only screen and (max-width:800px){
    .row{
        margin-left: 20px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }

}




